export  PROJECT_NAME=twxplorer
export  APPLICATION_DOMAINS=localhost
export  DB_ENGINE__DEFAULT=mongo
export  DB_NAME__DEFAULT=twxplorer
export  DB_HOST__DEFAULT=localhost
export  DB_PORT__DEFAULT=27017
export  FLASK_SETTINGS_MODULE=core.settings.dev
export  FLASK_SECRET_KEY=development
export  TWITTER_CONSUMER_KEY=""
export  TWITTER_CONSUMER_SECRET=""
export  BITLY_USERNAME=""
export  BITLY_APIKEY=""
export  BITLY_DOMAIN=""
