Fabric==1.7.0
Flask==0.10.1
Jinja2==2.7
MarkupSafe==0.18
PyYAML==3.10
Werkzeug==0.9.3
beautifulsoup4==4.3.0
#boto==2.10.0
#itsdangerous==0.22
lxml==4.5.1
nltk==3.4
#paramiko==1.11.0
#pycrypto==2.6
pymongo==2.5.2
tweepy==3.7.0
#wsgiref==0.1.2
gunicorn==19.5.0
