/* CSS STYLES */

.center {text-align: center;}

.frame {border: 1px solid #dddddd;border-radius: 3px;padding: 0 0 0 0;}
.frame-header {background-color: #f5f5f5;color: #333333;border-bottom: 1px solid #dddddd;padding: 4px;font-size: 0.9em;font-weight: bold;}
.frame-header.tweet-header {
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 0 0;
}
.frame-body {padding: 4px;}

.spaced {margin-bottom: 14px;}
.loading {margin: 8px 0;text-align: center;}
.msg {color: #666;margin: 8px 0;text-align: center;}
#content {
    min-height: 500px;
}
.icon-twitter.pull-right {
    color: #1dacd6;
}
/*
CONTROL BAR AREA
*/

.modal {
    width: 300px;
    margin-left: -120px;
}
.cover {
    opacity: 0.4;
}
#control_bar {
    background-color: #EEEEEE;
    margin-top: -4px;
    padding: 10px 0;
}
#control_bar form {
    margin: 0;
}
#control_bar button {font-size: 0.9em;}
#query {font-size: 0.9em;}
#list {font-size: 0.9em;width: 340px;}
#language {font-size: 0.9em;width: 130px;}
/*
ALERTS/MODALS
*/
#progress_modal .icon-spinner {margin-right: 6px;}
.internal {
    cursor: pointer;
}
/* 
FILTERS
*/
.filter-container {padding: 0;float: right;}
.filter-list {margin: -3px 0 0 6px;padding: 0;min-height: 28px;}

.filter-list li {
    float: left;
    position: relative;
    list-style: none;
    margin: 0 8px 4px 0;
    padding: 2px 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #efefef;
    color: #333;
    font-size: .9em;
}
.filter-list li.blank {
    background-color: rgba(0, 0, 0, 0);
    border: medium none;
    border-radius: 0 0 0 0;
    color: #333333;
    font-size: 1em;
    padding: 3px 6px;
}

.breadcrumbs,
.breadcrumbs .btn {
    font-family: "Apres RE","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.filter-list li .close {margin-left: 4px;}
.filter-container a {padding-left: 6px;cursor: pointer;float: right;}

#username {padding-top: 4px;font-weight: bold;font-size: 0.8em;text-align: right; white-space: nowrap;    font-family: "Apres RE","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#username a{padding-left: 10px;}

#tweet_count {font-style: italic;font-size: 0.8em;text-align: left;}

#terms {height: 360px;overflow: auto;font-size: 0.9em;}
#terms .term {width: 100%;margin: 0 0 0.75em 0;padding: 0;cursor: pointer; clear: both;}
#terms .inner {margin: 0 0 0 50px;padding:6px 0 0 0px;}
#terms .inner a {text-shadow:0px 0px 2px white; z-index: 1;}
#terms .inner a:hover,
#terms .inner:hover a{text-decoration: underline;}
#terms label {font-size: 0.9em;padding: 0 0 0 0;margin: 0 0 0 0;}
#terms .bar {background: #e35a25; height: 30px;
    margin: -26px 0 -9px -7px;
    opacity: 0.16;
   position: relative;
    z-index: -1;
}

#terms,
#hashtags,
#urls {
    font-family: "Apres RE","Helvetica Neue",Helvetica,Arial,sans-serif;
}  

#terms .count,
#hashtags .count,
#urls .count {
    clear: both; 
    background-color: #EEEEEE;
    border-radius: 2px 2px 2px 2px;
    color: #666666;
    float: left;
    margin: 2px 4px 0 0; 
    min-width:  28px; 
    padding: 5px 5px 3px 6px;
    text-align: right;
}  


#terms a,
#hashtags a,
#urls a,
a.internal {
    color: #ca4d1d;
}  

#control_bar .form-inline input[type="text"], 
#control_bar .form-inline button, 
#control_bar .form-inline select {
    font-family: "Apres RE","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#hashtags li a {
    display: block;
    margin: 6px 0 0;
}
form .dropdown {
    padding-top: 4px;
    font-size: .8em;
    float: right;
    font-family: "Apres RE","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.dropdown-menu {
    padding: 5px 13px;
}
.dropdown-menu li{
    padding: 2px 0;
    white-space: nowrap;
}
.dropdown-menu li.head{
    padding: 10px 0 0px;
}
.dropdown-menu > li.head > a {
    color: #1DACD6;
    display: inline;
    line-height: 16px;
    padding: 0 0 0 0;
    white-space: nowrap;
}
.round {
    border: 1px solid #DDDDDD;
    border-radius: 100% 100% 100% 100%;
    max-width: 300px;
    width: 70%;
}
.form-inline .dropdown-menu > li.head:hover, .form-inline .dropdown-menu > li.head > a:hover{
    color: #1DACD6;
    background-color: transparent;
    background-image: none;
    text-decoration: underline;
}
#hashtags {height: 360px;overflow: auto;font-size: 0.9em; } 

#urls {height: 160px;overflow: auto;font-size: 0.9em;}

#urls li div {
    margin: 7px 0 0 0;
}

#urls a:first-child {padding-right: 10px;} 
 
#tweets {height: 614px;overflow: auto;} 
#urls a.external-link {color: #1DACD6;} 
.span12 h4 {
    padding-top: 20px;
}
/* 
HISTORY
*/
.accordion-heading input[type=checkbox] {float: right;margin: 14px 15px 10px 10px;}
.accordion-inner input[type=checkbox] {float: right;margin: 6px 0 10px 10px;}
#history_delete {float: right;}


@media screen and (max-width: 979px) {
    #control_bar {
        margin: 0 0 0 -20px;
        padding: 12px 30px 0 10px;
    }
#username {
    clear: both;
    margin: 0;
    text-align: left;
    }
    #control_bar .container .span9 {
        width: 100%;
    }
}

@media all and (max-width: 568px) {
#overview .logo-mark {
    font-size: 52px;
}
#overview .logo-mark span {
    font-size: 18px;
}
#overview .lead {
    font-size: 20px;
    line-height: 24px;
}
.span4.text-center img {
    border-radius: 100% 100% 100% 100%;
    height: auto;
    max-width: 200px;
    width: 100%;
}

}
