/* CSS STYLES */

.center {text-align: center;}

#query {width: 400px;}

.filter-container {padding: 0;}

.filter-list {margin: 0;padding: 0;min-height: 28px;}

.filter-list li {
    float: left;
    position: relative;
    list-style: none;
    margin: 0 8px 4px 0;
    padding: 2px 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #efefef;
    color: #333;
    cursor: default;
    font-size: .9em;
}

.filter-list li .close {margin-left: 4px;}
.filter-container a {padding-left: 6px;cursor: pointer;}

#tweet_count {font-style: italic;font-size: 0.8em;text-align: right;}
#username {font-weight: bold;font-size: 0.8em;text-align: right;}

.frame {border: 1px solid #aaa;border-radius: 4px;}

.spaced {margin-bottom: 14px;}

#histogram {height: 400px;overflow: auto;padding: 4px;}
#hashtags {height: 400px;overflow: auto;padding: 4px;}

#urls {height: 200px;overflow: auto;padding: 4px;}

#tweets {height: 614px;overflow: auto;}
#tweets_loading {margin: 8px 0;text-align: center;}
