/* CSS STYLES */

.center {text-align: center;}

#query {width: 400px;}

.filter-container {
    padding: 0;
}

.filter-list {margin: 0;padding: 0;min-height: 28px;}

.filter-list li {
    float: left;
    position: relative;
    list-style: none;
    margin: 0 8px 4px 0;
    padding: 2px 6px;
    border: 1px solid #aaa;
    border-radius: 4px;
    background-color: #efefef;
    color: #333;
    cursor: default;
    font-size: .9em;
}

.filter-container a {padding-left: 6px;cursor: pointer;}

.breadcrumb > li + li:before {padding: 0 5px;color: #cccccc;content: "/\00a0";}

#histogram {min-height: 400px;}

