<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- Note: You must include the Blueline CDN stylesheet -->
    <link rel="stylesheet" href="//cdn.knightlab.com/libs/blueline/latest/css/blueline.min.css">
    <link rel="stylesheet" href="{{ static_url }}css/style.css">
    <title>Tweets</title>
</head>
<body>

{% for tweet in tweets %}

<div class='tweet-div'>
<blockquote class="twitter-tweet" data-conversation="none" data-cards="hidden">
<p>{{ tweet.text|safe }}</p>&mdash; {{ tweet.user_name }} (@{{ tweets.user_screen_name }})
<a href="https://twitter.com/twitterapi/status/{{ tweet.id_str }}">{{ tweet.created_at|date:"F d, Y" }}</a>
</blockquote>
</div>

{% endfor %}

<script type="application/javascript" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//cdn.knightlab.com/libs/blueline/latest/js/blueline.min.js"></script>


</body>
</html>
