{% extends "base.html" %}

{% block extrahead %}
<script type="application/javascript" src="{{ STATIC_URL }}js/common.js" charset="utf-8"></script>
{% endblock %}

{% block content %}

<div id='control_bar' class="row-fluid">
     <div class="container">
    <div id='username' class="span12">
        Logged in as @{{ session.username }} <a href="{{ url_for('logout') }}">logout</a>
    </div>
</div>
</div>
  <div id="content" class="container">

        <h4 id="page_header">Saved snapshots</h4>

{% if error %}
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ error }}
</div>
{% endif %}

{# Output accordion for saved results #}
{% macro history_accordion(id, group_list) -%}
    <div class="accordion" id="{{ id }}">
    {% for group in group_list %}
        <div class="accordion-group">
             <div class="accordion-heading">
                <input type="checkbox" class="search" value="{{ group._id }}" />
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#{{ id }}" href="#collapse_{{ group._id }}">
        {% if group.query %}
                    {{ group.query }} ({{ group.language }})   
        {% else %}
                    {{ group.full_name }} ({{ group.language }})
        {% endif %}
                </a>
            </div>
            <div id="collapse_{{ group._id }}" class="accordion-body collapse">
                <div class="accordion-inner">
        {% for sess in group.sessions %}    
                    <div class="accordion-row">       
                        <input type="checkbox" class="session" value="{{ sess._id }}" />
            {% if group.query %}
                        <p><a href='/search/{{ sess._id }}/'>{{ sess.dt }}</a></p>
            {% else %}
                        <p><a href='/lists/{{ sess._id }}/'>{{ sess.dt }}</a></p>
            {% endif %}
                    </div>
        {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{%- endmacro %}

<div class="row-fluid">
    <div class="span6">
    <h5>Search snapshots</h5>
{% if searches|length %}
    {{ history_accordion('search_accordion', searches) }}
{% else %}
        <p>No saved searches found.</p>
{% endif %}
    </div>

    <div class="span6">
    <h5>List snapshots</h5>
{% if lists|length %}
    {{ history_accordion('list_accordion', lists) }}
{% else %}
    <p>No saved results for lists.</p>
{% endif %}
    </div>
</div>

{% if searches|length or lists|length %}
<div class="row-fluid">
    <div class="span12">
    <button id="history_delete" class="btn btn-danger" onclick="delete_selected_history();">Delete selected snapshots</button>
    </div>
</div>
{% endif %}

{% endblock %}

{% block script %}
<script type="text/javascript">

function delete_selected_history() {
    hide_error();
    
    var searches = [];
    var sessions = [];

    $('.accordion input.search:checked').each(function() {
        searches.push($(this).val());
    });
    
    $('.accordion input.session:checked').each(function() {
        sessions.push($(this).val());
    });

    if(!(searches.length || sessions.length)) {
        show_error('No results selected');
    } else {
        show_confirm('Deleted selected results?', function(event) {
            show_progress('Deleting results');
            
             do_ajax("{{ url_for('history_delete') }}",
                {searches: searches, sessions: sessions},
                function(err) {
                    show_error('Error deleting searches ('+err+')');
                    hide_progress();
                },
                function(data) {
                    document.location.href = "{{ url_for('history') }}";
                }
            );            
        });
    }
}

</script>
{% endblock %}