{% extends "base.html" %}

{% block content %}
    <header id="overview" class="hero-unit compact">
      <div class="row-fluid">
        <hgroup class="span12">
          <h1 class="logo-mark xl">twXplorer</h1>
          <h2 class="intro">A smarter way to search Twitter</h2>
            {% if not session.username %}
              <p>
                <a class="btn btn-large btn-info" href="{{ url_for('auth') }}">
                  <i class="icon-twitter"></i>&nbsp; Sign in with Twitter
                </a>
              </p>
            {% else %} 
              <p>You are currently logged in as <b>@{{ session.username }}</b> - <a href="{{ url_for('logout') }}">logout</a></p>
            {% endif %}
        </hgroup>
      </div>
    </header>

  <div id="content" class="container">

{% if not session.username %}
    <div class="row-fluid">
        <div class="span8 offset2 text-center">
<p>Click the "Sign in with Twitter" button above to get started with twXplorer.</p>
<p>Once logged in, you can enter search terms to see a snapshot of related activity in the latest 500 tweets. twXplorer will break down the most common terms, hashtags, and links for you to filter and drill down further.</p>
        </div>
    </div>
{% else %} 
 <div class="row-fluid">
    <div id='' class="span8 offset2 text-center">
      <p>Enter <a href="/search/">search</a> terms to see a snapshot of related activity in the latest 500 tweets. twXplorer will break down the most common terms, hashtags, and links for you to filter and drill down further.</p>
    </div> 
</div>      
{% endif %}
<hr>
    <div class="row-fluid">
        <div class="span4 text-center">
            <h5>Search twitter for a word or phrase in 12 different languages</h5>
            <p><img class="round" src="{{ STATIC_URL }}img/twx_screen1.png"></p>
        </div>
        <div class="span4 text-center">
           <h5>View popular terms, hashtags and links found in your searches.</h5>
           <p><img class="round" src="{{ STATIC_URL }}img/twx_screen2.png"></p>
        </div>
        <div class="span4 text-center">
            <h5>Save snapshots for later viewing.</h5>
            <p><img class="round" src="{{ STATIC_URL }}img/twx_screen3.png"></p>
        </div>
    </div>
  </div>
</section>
{% endblock %}