{% extends "base.html" %}

{% block content %}
    <header id="overview" class="hero-unit compact">
      <div class="row-fluid">
        <hgroup class="span12">
          <h1 class="logo-mark xl">twXplorer</h1>
          <h2 class="intro">put something here</h2>
        </hgroup>
      </div>
    </header>

{% if not session.username %}
    <div class="row-fluid">
        <div class="span12">
<p>Click the "Sign in with Twitter" button to get started with twXplorer.  You 
will be redirected to a page on Twitter to authorize twXplorer to make requests
to Twitter's search API on your behalf.</p>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12 center">
        <p>
        <a href="{{ url_for('auth') }}">
        <img src="{{ STATIC_URL }}img/sign-in-with-twitter-gray.png" width="158" height="28" alt="Sign in with Twitter" />
        </a>
        </p>
        </div>
    </div>
{% endif %}           
    
    <div class="row-fluid">
      <div class="span12">
        <h2>About</h2>
        <p>Put some about text here.</p>
      </div>        
    </div>
{% endblock %}