{% extends "base.html" %}

{% block extrahead %}
<script type="application/javascript" src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script type="application/javascript" src="{{ STATIC_URL }}js/Loader.js" charset="utf-8"></script>
<script type="application/javascript" src="{{ STATIC_URL }}js/date.js" charset="utf-8"></script>
<script type="application/javascript" src="{{ STATIC_URL }}js/common.js" charset="utf-8"></script>
{% endblock %}

{% block content %}

{% if session.username %}
<div id='control_bar' class="row-fluid">
<div class="container">
    <div class="span9">
        <form class="form-inline">
            <input type="text" class="form-control" id="query" value="" size="100" placeholder="Enter your search" />
            <select id="language">
{% for item in languages %}
                <option value='{{ item.1 }}'>{{ item.0|capitalize }}</option>
{% endfor %}
            </select>
            <button type="button" class="btn btn-default" id="search"><i class="icon-search"></i></button>
            <div class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">saved snapshots</a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li class="head"><a href="/history/">view all saved snapshots</a></li>
                    {% for r in saved_results %}
                    <li>
                        {{ r.query }}
                        <ul class="unstyled"> 
                            {% for sess in r.sessions %}
                            <li><a href="/search/{{ sess._id }}/">{{ sess.dt }}</a>
                            {% if sess.shared %}<i class="icon-globe"></i>{% endif %}
                            </li>
                        {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </form>
    </div>
    <div id='username' class="span3">
        Logged in as @{{ session.username }} <a href="{{ url_for('logout') }}">logout</a>
    </div>
</div>
</div>
{% endif %}

<div id="content" class="container">

{% if error %}
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ error }}
</div>
{% endif %}

{% if not error and snapshot_owner and snapshot_owner != session.username %}
<div class="alert alert-info">
    <p>This twXplorer snapshot was shared by @{{ snapshot_owner }}.</p>
</div>
{% endif %}

{% if not error %}
<div class="row-fluid spaced">   
    <div class="span12">
        <ul class="inline breadcrumbs">
            <li><span id='search_label'>Enter your search above to get started.</span> <span id="timestamp"></span></li>
            <li>
                <div class="filter-container">
                    <ul id="filter_list" class="filter-list"></ul>
                </div>
                <a onclick="clear_filters(true);" class="internal"><span id="current_term"></span></a>
            </li>
            <li><span id="tweet_count"></span> </li>
            <li><button type="button" class="btn btn-link" id="more" style="display: none;">Get More Tweets</button></li>
            <li><button type="button" class="btn btn-link" id="save" style="display: none;">Save snapshot</button></li>
            <li><button type="button" class="btn btn-link" id="share" style="display: none;">Share snapshot</button></li>            
        </ul>
    </div>
</div>

<div id="main-content" class="row-fluid cover">
    <div class="span4">
        <div class="frame-header tweet-header">Recent Tweets</div>
        <div id='tweets'>
           <!-- tweets go here -->
        </div>
    </div>
   <div class="span8">
        <div class="row-fluid spaced">   
            <div class="span7 frame">
                <div class="frame-header">Terms</div>
                <div class="frame-body">
                    <ul id='terms' class="unstyled histogram-container">
                        <!-- terms go here -->
                    </ul>
                </div>
            </div>
            <div class="span5 frame">
                <div class="frame-header">Hashtags</div>
                <div class="frame-body">
                   <ul id="hashtags" class="unstyled histogram-container">
                     <!-- hashtags go here -->
                   </ul>
                </div>   
            </div>
        </div>
        <div class="row-fluid spaced">
            <div class="span7 frame">
                <div class="frame-header">Links</div>
                <div class="frame-body">
                    <ul id="urls" class="unstyled">
                        <!-- hashtags go here -->
                    </ul>
                </div>
            </div>
            <div class="span5 frame">
                <div class="frame-header">Voices</div>
                <div class="frame-body">
                   <ul id="voices" class="unstyled histogram-container">
                     <!-- voices go here -->
                   </ul>
                </div>   
            </div>
        </div>
    </div>    
</div>
{% endif %}

</div>


<div id="add_modal" class="modal hide fade" role="dialog">
    <div class="modal-body">
        <p>Add <span class='add_username'></span> to selected lists:</p>           
        <form>
            <select id="add_list" multiple="multiple" class="span4">
{% for list in lists if list.owned %}
            <option value='{{ list.id_str }}'>{{ list.full_name }}</option>
{% endfor %}
            </select>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Cancel</button>
        <button id="add_user" class="btn btn-primary" data-dismiss="modal" >Add</button>
    </div>
</div>



{% endblock %}

{% block script %}
<script type="text/javascript">

var _session = {};
var _url_map = {};
// TODO add _list_map

var _filter = {
    'stem': [],
    'hashtag': [],
    'url': [],
    'voice': []
};

var _TweetsLoader;
var _TermsLoader;
var _HashtagsLoader;
var _UrlsLoader;
var _VoiceLoader;


var _has_lists = {{ lists|length }};

//
// Get stats and tweets for session_id using _filter
//

function filter_results(session_id, callback) { 
    $('#terms, #hashtags, #urls, #voices, #tweets, #tweet_count, #timestamp').html('');
        
    do_ajax('/filter/'+session_id+'/', 
        _filter,
        function(err) {
            show_error('Error filtering results ('+err+')');
            if(callback) {
                callback();
            }
        },
        function(data) {   
            _session = data.session;   
            
            $('#query').val('');
            $('#language').val(data.search.language);

            $('#main-content').removeClass('cover');
            if(_session.saved) {
                $('#search_label').html('Saved snapshot');
                $('#more').hide();
            } else {
                $('#search_label').html('Search');
            }
            $('#timestamp').html('on '
                + Date.parse(_session.dt.split('.')[0]).toString("M/d/yy HH:mm")+':');
            $('#current_term').html(data.search.query);
            
            if('{{ session.username }}' == data.search.username) {
                $('#share').show();
            } else {
                $('#share').hide();
            }
                                 
            $('#tweet_count').html('('+data.tweets.length+' tweets, '+data.retweets+' retweets)');
                                            
            _TermsLoader.set_data(data.stem_counts).load_more();
            _HashtagLoader.set_data(data.hashtag_counts).load_more();
            _VoiceLoader.set_data(data.voice_counts).load_more();
            _TweetsLoader.set_data(data.tweets).load_more();            
            _UrlsLoader.set_data(data.url_counts).show_loading().load_more();
                                                                        
            if(callback) {
                callback();
            }
        }
    );
}

//
// on load
//
$(function() {           
    $('#query')
        .keypress(function(event) {
            if(event.which == 13) {
                event.preventDefault();
                $('#search').click();
            }
        })
        .focus();
        
    if($('#language option[value={{ session.language }}]').length) {
        $('#language').val('{{ session.language }}');
    } else {
        $('#language').val('en');
    }
       
       
    $('#more').click(function(event) {
        hide_error();
        show_progress('Searching Twitter');
       
        do_ajax("{{ url_for('analyze') }}"+_session._id,
            {},
            function(error) {
                show_error('Error executing search ('+error+')');
                hide_progress();
            },
            function(data) {                
                if (data.session.tweet_count > 0) {  
                    clear_filters(false);                    
                    filter_results(data.session._id, function() {
                        hide_progress();
                    });
                } else {
                    show_warning("No tweets found matching '"+query+"'.")
                    hide_progress();
                }
            }
        );
    });
    
    $('#search').click(function(event) {
        hide_error();
        
        var query = $('#query').val().trim();
        if(!query) {
            show_error('You must enter a query');
            return;
        }
    
        show_progress('Searching Twitter');
    
        do_ajax("{{ url_for('analyze') }}", 
            {language: $('#language').val(), query: query},
            function(error) {
                show_error('Error executing search ('+error+')');
                hide_progress();
            },
            function(data) {   
                clear_filters(false);
                
                if (data.session.tweet_count > 0) {  
                    filter_results(data.session._id, function() {
                        hide_progress();
                    });

                    $('#more, #save').show();
                } else {
                    show_warning("No tweets found matching '" + query + "'.")
                    hide_progress();
                }
            }
        );
    });
         
    $('#share')
        .popover({
            trigger: 'manual',
            placement: 'bottom',
            html: true,
            title: 'Share Snapshot<a class="close" href="#">&times;</a>',
            template: ''
                + '<div id="share_popover" class="popover">'
                + '<div class="arrow"></div><div class="popover-inner">'
                + '<h3 class="popover-title"></h3><div class="popover-content"><p></p></div>'
                + '</div></div>',        
            content: function() {
                return ''
                    + '<label>Link</label>'
                    + '<input id="share_url" type="text" value="">'
                    + '<button id="share_tweet" class="btn btn-default" onclick="tweet_snapshot();"><img src="{{ STATIC_URL }}img/bird_blue_16.png" /> Tweet</button>'
                    + '<button id="unshare" class="btn btn-default" onclick="unshare_snapshot();">Unshare</button>';
            }  
        })
        .click(function(e) {
            if($('#share_popover').is(':visible')) {
                $('#share').popover('hide');
            } else if(_session.saved && _session.shared) {
                $('#share').popover('show');
                $('#share_url').val(_session.share_url);                
            } else {
                show_progress('Sharing snapshot');

                do_ajax('/history/update/'+_session._id+'/', 
                    {saved: 1, shared: 1},
                    function(error) {
                        show_error('Error sharing snapshot ('+error+')');
                        hide_progress();
                    },
                    function(data) {  
                        $.extend(_session, data);
                        hide_progress();
                        $('#save').hide();

                        $('#share').popover('show');
                        $('#share_url').val(_session.share_url);    
                            
                    }
                );
            } 
    
            return false;
        });
        
    // Add user to list
    
    $('#add_list').change(function(event) {
        if($('#add_list option:selected').length) {
            $('#add_user').removeAttr('disabled');
        } else {
            $('#add_user').attr('disabled', 'disabled');
        }
    });
    
    $('#add_user').click(function(event) {
        var screen_name = $('#add_modal .add_username').text();
        var list_ids = [];
        
        $('#add_list option:selected').each(function() {
            list_ids.push($(this).attr('value'));
        });    
        
        do_ajax('/user/add/', 
            {screen_name: screen_name, list_ids: list_ids},
            function(error) {
                show_error('Error adding user to list(s) ('+error+')');
            },
            function(data) {  
                // noop
            }
        );       
    });

    $(document).click(function (e) {
        if(($('.popover').has(e.target).length == 0) || $(e.target).is('.close')) {
            $('#share').popover('hide');
        }
    });
       
    initialize();
    
    //
    // LOAD SESSION?
    //
{% if session_id and not error %}
    filter_results('{{ session_id }}');
{% endif %}

});

</script>
{% endblock %}