{% extends "base.html" %}

{% block extrahead %}
<script type="application/javascript" src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script type="application/javascript" src="{{ STATIC_URL }}js/Loader.js" charset="utf-8"></script>
<script type="application/javascript" src="{{ STATIC_URL }}js/date.js" charset="utf-8"></script>
<script type="application/javascript" src="{{ STATIC_URL }}js/common.js" charset="utf-8"></script>
{% endblock %}

{% block content %}
<div id='control_bar' class="row-fluid">
    <div class="container">
    <div class="span9">
        <form class="form-inline">
            <input type="text" class="form-control" id="query" value="" size="100" placeholder="Enter a search term" />
            <select id="language">
{% for item in languages %}
                <option value='{{ item.1 }}'>{{ item.0|capitalize }}</option>
{% endfor %}
            </select>
            <button type="button" class="btn btn-default" id="search"><i class="icon-search"></i></button>
            <div class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">saved snapshots</a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    {% for r in saved_results %}
                    <li>
                        {{ r.query }}
                        <ul class="unstyled"> 
                            {% for sess in r.sessions %}
                            <li><a href="/search/{{ sess._id }}/">{{ sess.dt }}</a></li>
                        {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                    <li class="head"><a href="/history/">view all saved snapshots</a></li>
                </ul>
            </div>
        </form>
    </div>
    <div id='username' class="span3">
        Logged in as @{{ session.username }} <a href="{{ url_for('logout') }}">logout</a>
    </div>
</div>
</div>
  <div id="content" class="container">


{% if error %}
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ error }}
</div>
{% endif %}

<div class="row-fluid spaced">   
    <div class="span12">
        <ul class="inline breadcrumbs">
            <li id='search_label'>Search ></li>
            <li><a onclick="clear_filters();" class="internal"><span id="current_term"></span> <span id="timestamp"></span></a>
                <div class="filter-container">
                    <ul id="filter_list" class="filter-list"></ul>
                </div>
            </li>
            <li><span id="tweet_count"></span></li>
            <li><button type="button" class="btn btn-link" id="save" style="display: none;">Save snapshot</button></li>
        </ul>
    </div>
</div>

<div class="row-fluid">
     <div class="span4">
        <div class="frame-header">Recent Tweets</div>
        <div id='tweets'>
            <p>Enter your search query, select a language, and click the <i class="icon-search"></i> 
            button to search Twitter.</p>
            
            <p>The system will attempt to retrieve up to 500 tweets.  The tweets will
            be displayed in this space.  Common terms, hashtags, and links will be displayed
            in the panels to the right. <i class="icon-arrow-right"></i></p>
            
            <p>You can click on any term, hashtag, or link to filter the list of tweets
             to those containing the selected item.</p>
             
            <!-- tweets go here -->
        </div>
    </div>
   <div class="span8">
        <div class="row-fluid spaced">   
            <div class="span7 frame">
                <div class="frame-header">Terms</div>
                <div class="frame-body">
                    <ul id='terms' class="unstyled">
                        <!-- terms go here -->
                    </ul>
                </div>
            </div>
            <div class="span5 frame">
                <div class="frame-header">Hashtags</div>
                <div class="frame-body">
                   <ul id="hashtags" class="unstyled">
                     <!-- hashtags go here -->
                   </ul>
                </div>   
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12 frame">
                <div class="frame-header">Links</div>
                <div class="frame-body">
                    <ul id="urls" class="unstyled">
                        <!-- hashtags go here -->
                    </ul>
                </div>
            </div>
        </div>
    </div>    
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">

var _session = {};
var _url_map = {};

var _filter = [];   // current filter      

var _TermsLoader;
var _HashtagsLoader;
var _TweetsLoader;
var _UrlsLoader;


// Get the term to represent filter item in UI
function get_term(s) {
    if(s[0] == '#') {
        return s;
    }   
    if(s in _url_map) {
        return _url_map[s];  
    }
    if(s in _session.stem_map) { 
        if(_session.stem_map[s].length > 1) {
            return _session.stem_map[s][0]+', ...';
        } 
        return _session.stem_map[s];
    }
    return s;
}

function add_filter(stem) {
    _filter.push(stem);
    filter_results(_session._id);
}

function remove_filter(stem) {
    var stem_index = $.inArray(stem, _filter);
    if(stem_index > -1) {
        _filter.splice(stem_index, 1);
    }
    filter_results(_session._id);
}

function clear_filters() {
    if(_filter.length > 0){
        _filter = []
        filter_results(_session._id);
    }
}


function show_filter() {   
    var s = '';
    
    for(var i = 0; i < _filter.length; i++) {
        s += '<li>'+get_term(_filter[i])
            + '<button class="close" onclick="remove_filter(\''+_filter[i]+'\');">&times;</button>'
            + '</li>';      
    }
    
    $('#filter_list').html(s).show();
}

//
// Get stats and tweets for session_id using _filter
//

function set_timestamp() {
    if(_session.saved) {
        var d = Date.parse(_session.dt.split('.')[0]);
        var s = d.toString("M/d/yy HH:mm");                   
        $('#timestamp').html('@ '+s);
    }
}
function filter_results(session_id, callback) { 
    show_filter(); 
    
    $('#terms, #hashtags, #urls, #tweets, #tweet_count, #timestamp').html('');
        
    do_ajax('/filter/'+session_id+'/', 
        {filter: _filter},
        function(err) {
            show_error('Error filtering results ('+err+')');
            if(callback) {
                callback();
            }
        },
        function(data) {   
            _session = data.session;   
            
            $('#query').val('');
            
            if(_session.saved) {
                $('#search_label').html('Saved Snapshot >');
            } else {
                $('#search_label').html('Search >');
            }
            $('#current_term').html(data.search.query);
            $('#timestamp').html('@ '
                + Date.parse(_session.dt.split('.')[0]).toString("M/d/yy HH:mm"));
      
            $('#language').val(data.search.language);
            $('#tweet_count').html('('+data.tweets.length+' tweets, '+data.retweets+' retweets)');
                                 
            _TermsLoader.set_data(data.stem_counts).load_more();
            _HashtagLoader.set_data(data.hashtag_counts).load_more();
            _TweetsLoader.set_data(data.tweets).load_more();            
            _UrlsLoader.set_data(data.url_counts).show_loading().load_more();
                                                                        
            if(callback) {
                callback();
            }
        }
    );
}

//
// on load
//
$(function() {
    
    $('#query')
        .keypress(function(event) {
            if(event.which == 13) {
                event.preventDefault();
                $('#search').click();
            }
        })
        .focus();
        
    if($('#language option[value={{ session.language }}]').length) {
        $('#language').val('{{ session.language }}');
    } else {
        $('#language').val('en');
    }
       
    $('#search').click(function(event) {
        hide_error();
        
        var query = $('#query').val().trim();
        if(!query) {
            show_error('You must enter a query');
            return;
        } 
    
        show_progress('Searching Twitter');
    
        do_ajax("{{ url_for('analyze') }}", 
            {language: $('#language').val(), query: query},
            function(error) {
                show_error('Error executing search ('+error+')');
                hide_progress();
            },
            function(data) {   
                _filter = [];
                filter_results(data.session._id, function() {
                    hide_progress();
                });
                
                $('#save').show();
            }
        );
    });
 
    $('#save').click(function(event) {
        hide_error();
        
        show_progress('Saving results');
        
        do_ajax('/history/save/'+_session._id+'/', 
            {},
            function(error) {
                show_error('Error saving results ('+error+')');
                hide_progress();
             },
            function(data) {  
                _session.saved = 1; 
                hide_progress();
                $('#save').hide();
            }
        );
    });
       
    //
    // Loaders
    //
    _TermsLoader = new Loader($('#terms'), 20,
        function(stem_counts, callback) {  
            var html = '';
            var max_count =  _TermsLoader.data[0][1];
            
            for(var i = 0; i < stem_counts.length; i++) {                   
                var stem = stem_counts[i][0];
                var count = stem_counts[i][1];
                var pct = (count * 100)/max_count;
            
                term_list = _session.stem_map[stem];
                if(term_list.length > 1) {                
                    anchor = '<a data-toggle="tooltip" data-placement="right" data-title="'+term_list.join(', ')+'" data-trigger="hover">';
                } else {
                    anchor = '<a>';
                }
                
                html += ''
                    + '<li class="term" onclick="add_filter(\''+stem+'\');">'
                    + '<span class="count">'+count+'</span>'
                    + '<div class="inner">'
                    + anchor+get_term(stem, ', ')+'</a>'
                    + '<div class="bar" style="width: '+pct+'%;">&nbsp;</div>'
                    + '</div>'
                    + '</li>';     
            }            
            callback(html);       
        },
        function(count) {
            $('#terms a[data-toggle="tooltip"]').slice(-count).tooltip();        
        }
    );
 
    _HashtagLoader = new Loader($('#hashtags'), 20,
        function(hashtag_counts, callback) {
            var hashtag, count, html = '';
            
            if(hashtag_counts.length) {
                for(var i = 0; i < hashtag_counts.length; i++) {                   
                    hashtag = hashtag_counts[i][0];
                    count = hashtag_counts[i][1];
            
                    html += ''
                        + '<li><span class="count">'+count+'</span><a href="javascript:void(0);" onclick="add_filter(\''+hashtag+'\')">'
                        + hashtag+'</a></li>';
                }  
            } else {
                html = '<p class="msg">no hashtags found</p>';
            }          
            callback(html);       
        }
    );
    
    _TweetsLoader = new Loader($('#tweets'), 10, 
        function(tweets, callback) {
            var html = '';

            for(var i = 0; i < tweets.length; i++) {      
                var tweet = tweets[i];
                             
                html += ''
                    + '<blockquote class="twitter-tweet" data-conversation="none" data-cards="hidden">'
                    + '<p>'+tweet.text+'</p>&mdash; '+tweet.user_name + ' (@'+tweet.user_screen_name+')'
                    + '<a href="https://twitter.com/twitterapi/status/'+tweet.id_str+'">'+tweet.created_at+'</a>'               
                    + '</blockquote>';
                //html += '<p>'+tweet.id_str+'</p>';
            }
            callback(html);
        },
        function() {
            twttr.widgets.load();
        }
    );
    
    _UrlsLoader = new Loader($('#urls'), 6,
        function(url_counts, callback) {   
            var urls = $.map(url_counts, function(elem, i) { return elem[0]; });
            
            if(urls.length) {                  
                do_ajax("{{ url_for('urls') }}", 
                    {urls: urls},
                    function(error) {
                        show_error(error);
                        callback('');
                    },
                    function(data) {   
                        var info, html = '';
                    
                        for(var i = 0; i < data.info.length; i++) {
                            info = data.info[i];
                            
                            _url_map[info.url] = (info.title || info.url);
                            
                            html += ''
                                + '<li>'
                                + '<span class="count">'+url_counts[i][1]+'</span>'
                                + '<div>'
                                + '<a href="javascript:void(0);" onclick="add_filter(\''+info.url+'\');">'+ _url_map[info.url] +'</a>'
                                + '<a class="external-link" href="'+info.url+'" target="_blank" title="open url in new window">'
                                + '<i class="icon-external-link"></i></a>'
                                + '</div>';
                                + '</li>';
                        }
                    
                        callback(html);
                    }
                );
            } else {
                callback('<p class="msg">no urls found</p>');
            }                   
        }
    );
    
    //
    // LOAD SESSION?
    //
{% if session_id %}
    filter_results('{{ session_id }}');
{% endif %}

});

</script>
{% endblock %}